*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    color: white;
  height: 60px;
  background-color: rgba(237, 107, 0, 0.989);  
  justify-content: space-around;
}
.parol{
    margin-top: 20px;
    
}
.logo{
  margin-top: 15px;
  height: 30px;
  width: 130px;
  margin-right: 100px;
  
}

.item{
    margin-top: 20px;
}

.item > *{
padding-inline:5px ;
}

.container{
    flex-wrap: wrap;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-inline:200px ;

}


.container2{
    background-color: black;

}


